{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}


    {% block corecss %}
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Bootstrap JS -->
    {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/3d07db4e3b.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

   <title>Tony's Gym {% block extra_title %} {% endblock %}</title>
  </head>
  <body>
  <!-- Used from boutique ado project with code institute -->
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}"><strong>Tony's Gym</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'services:services_list' %}">Our Services</a>
      </li>
      <li class="list-inline-item">
      <a class="nav-link" href="{% url 'bag:view_bag' %}">
        <div class="text-center">
          <div><i class="fas fa-shopping-bag fa-lg"></i></div>
          <p class="my-0">
            Bag ({{ bag_total_quantity }})
          </p>
        </div>
      </a>
    </li>
      {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
    </li>
  {% endif %}
    </ul>
    <form class="my-2 my-lg-0">
      <p class="mr-sm-2 mt-2"  aria-label="Welcome text"> The best Gym in the UK</p>
    </form>
  </div>
</nav>


  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}

  <!-- Back to Top Button by Chat GPT -->
<button id="backToTopBtn" title="Go to top">↑</button>



  <!-- Footer -->
<footer class="footer bg-dark text-light pt-5">
  <div class="container">
    <div class="row">
      
      <!-- About -->
      <div class="col-md-4 mb-3">
        <h5 class="footer-title">About Tony's Gym</h5>
        <p>
          At Tony's Gym, we’re dedicated to helping you achieve your fitness goals. 
          From modern equipment and expert trainers to personalized nutrition plans, 
          we’re here to support your journey.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-2 mb-3">
        <h5 class="footer-title">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="footer-link">Home</a></li>
          <li><a href="{% url 'services:services_list' %}" class="footer-link">Services</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-md-3 mb-3">
        <h5 class="footer-title">Contact Us</h5>
        <p>
          Tony's Gym<br>
          42 High Street<br>
          Manchester, M1 4AB<br>
          United Kingdom
        </p>
        <p><i class="fas fa-phone-alt"></i> +44 161 555 0199</p>
        <p><i class="fas fa-envelope"></i> info@tonysgym.co.uk</p>
        <p><i class="fas fa-clock"></i> Mon–Fri: 6am–10pm, Sat–Sun: 8am–8pm</p>
      </div>

      <!-- Google Map Section Code Taken From Chat GPT -->
      <div class="col-md-3 mb-3">
        <h5 class="footer-title">Find Us</h5>
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2371.225261778997!2d-2.237431484178989!3d53.4807598799959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1bd2e5082c5%3A0xdda1e0f5e3d3c0!2sManchester!5e0!3m2!1sen!2suk!4v1630619044552!5m2!1sen!2suk" 
          width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </div>
    </div>

    <hr class="bg-light">

    <!-- Social Media -->
        <div class="col-md-4 mb-3">
          <h5 class="footer-title">Connect With Us</h5>
          <div class="social-links">
            <a href="https://en-gb.facebook.com/"  target="_blank" class="footer-social" aria-label="Visit our Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" class="footer-social" target="_blank" aria-label="Visit Our Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://x.com/?lang=en-gb" class="footer-social" target="_blank" aria-label="Visit our Twitter/X"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/" class="footer-social" target="_blank" aria-label="Visit our Youtube"><i class="fab fa-youtube"></i></a>
          </div>
        </div>

    <div class="text-center py-3">
      <p class="mb-0">&copy; {{ now|date:"Y" }} Tony's Gym. All rights reserved.</p>
    </div>
  </div>
</footer>

{% load static %}
<script src="{% static 'js/back_to_top.js' %}"></script>


</body>

</html>