{% extends "base.html" %}
{% block content %}

<h1>Manage Subscriptions</h1>

<a href="{% url 'add_subscription' %}" class="btn btn-success mb-3">
    Add New Subscription
</a>

<hr>

{% for s in subscriptions %}
<div class="card p-3 mb-2">
    <h2>{{ s.name }}</h2>
    <p>£{{ s.price }}</p>

    <a href="{% url 'edit_subscription' s.id %}" class="btn btn-primary btn-sm">Edit</a>
    <a href="{% url 'delete_subscription' s.id %}" class="btn btn-danger btn-sm">Delete</a>
</div>
{% empty %}
<p>No subscriptions created yet.</p>
{% endfor %}

{% endblock %}
